html,body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Hero Nav Section */

header{
    background-image: url("/assets/movie-watchlist-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 150px;
    position: relative;
}

.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    z-index: 5;
    color: white;
}

h1{
    font-size: 2em;
}

h2{
    font-weight: 500;
}

.hero-nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
}

/* Search Bar */

.search-bar{
    display: flex;
    width: 30em;
    height: 2.3em;
    border: 2px solid #DFDDDD;
    border-radius: 8px;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -1.25em;
    transform: translateX(-50%);
    z-index: 7;
    background-color: white;
    box-shadow: 1px 3px 5px #DFDDDD;
}

.search-bar input{
border: none;
flex: 1;
font-size: 0.9em;
height: 90%;
}

#search-btn{
width: 20%;
height: 100%;
border: none;
cursor: pointer;
font-size: 0.9em;
}

#search-icon{
    width: 1.5em;
    padding-left: 0.2em;
}

#search-btn:active{
    transform: scale(0.96);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Movie List on Watclist page */

#movies-list{
    padding: 2em;
}

.movie, .title-rating, .runtime-genre{
    display: flex;
}

.movie{
    gap: 2em;
    border-bottom: 2px solid #E5E7EB;
    padding: 1em;
    margin: auto;
}

.title-rating, .runtime-genre{
    gap: 1em;
    align-items: center;
}

.movie-text{
    display: block;
}

.movie-poster{
    width: 10em;
    object-fit: contain;
}

.watchlist-btn, .remove-btn{
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.watchlist-btn img, .remove-btn img{
    width: 18px;
}

#movie-added-msg, #movie-exists-msg, #movie-remove-msg{
    background-color: whitesmoke;
    margin: auto;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 45%;
    text-align: center;
    border: 2px outset rgba(190, 175, 175, 0.858);
    visibility: hidden;
    padding: 1em;
}

.runtime-genre{
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.25em;
}

.plot{
    color: #6B7280;
    font-weight: 400;
    line-height: 1.25em;
}